<ul class="nav nav-tabs">
  <% if controller.controller_name == 'books' %>
    <li class="active">
  <% else %>
    <li>
  <% end %>
  <%= link_to 'Books', books_path %></li>
  <% if controller.controller_name == 'authors' %>
    <li class="active">
  <% else %>
    <li>
  <% end %>
  <%= link_to 'Authors', authors_path %></li>
  <% if controller.controller_name == 'publishers' %>
    <li class="active">
  <% else %>
    <li>
  <% end %>
  <%= link_to 'Publishers', publishers_path %></li>
</ul>
